* {
    box-sizing: border-box;
}
        

html,body{
            
background-color: rgb(245, 241, 233);
height: 100%;
margin: 0px;
display: flex;
flex-direction: column;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 270px 15px 270px ;
    
}
.img-header img {
    width: 150px;
    height: auto;
}
.links-header{
    display: flex;
    justify-content: space-between;
    gap: 25px;
    margin-top: -10px;
}
.links-header a {
    text-decoration: none;
    text-transform: lowercase;
    color: black;
    position: relative;
    top: 5px;

}


.cabeçalho {
    font-family: "Poppins", sans-serif;
    font-size: 50px;
    padding: 150px 0px 0px 270px;
    display: flex;
    justify-content: space-between;
    color: rgba(0, 0, 0, 0.87);
    
}
.cabeçalho p {
    font-family: sans-serif;
    font-weight: ;
    font-size: 25px;
    margin-top: -35px;
    
}

.start-reading {
    padding: 12px 10px;
    width: 180px;
    border-radius: 25px;
    background-color: rgba(0, 0, 0, 0.87);
    color: white;
    border: 1px solid black ;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    cursor: pointer;
    
    
}

.start-reading:hover {
    background-color: black;
}

.green-flower {
    display: flex;
    position: relative;
    margin-top: -70px;
    width: 460px;
    
}

#get-started {
    color: white; 
    margin-left: 10px; 
    background-color: black; 
    width: 100px; 
    height: 40px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2px         
}

.links-footer, a {
    display: flex;
    justify-content: center;
    gap: 20px;
    text-decoration: none;
    font-size: 15px;
    color: #00000075;
    margin-top: 12px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

footer {
margin-top: auto;
padding: 20px 0;
}